# .env를 다음과 같이 작성하라는 의미의 파일, .env는 github에 올리지 않는다.
APP_ENV='development' # development, production
NCP_REGISTRY='<NCP container Registry 주소>'

# FE
VITE_SMISHING_HOME_URL="http://localhost:8000" #  <배포 주소>

# BE
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=mydatabase
MYSQL_USER=myuser
MYSQL_PASSWORD=mypassword
DATABASE_URL=mysql+asyncmy://myuser:mypassword@host.docker.internal:3306/mydatabase?charset=utfmb4
# DATABASE_URL=mysql+asyncmy://myuser:mypassword@localhost:3306/mydatabase?charset=utfmb4

# grafana
GF_SECURITY_ADMIN_PASSWORD=<GRAFANA admin 비번 설정>

# ai_service
HF_SMISHING_ENCODER_URL=<kcelectra 허깅페이스 endpoint URL>
# 인코더 모델은 급하게 배포하다보니 환경변수가 중복되었는데 나중에 중복, 코드에서 제거요망
HF_TIMEOUT_SECONDS=30
HF_DECODER_MAX_NEW_TOKENS=128
ENCODER_API_KEY=<허깅페이스 조직에 배포한 인코더 허깅페이스 API KEY, 조직 권한>
ENCODER_INFERENCE_ENDPOINT=<kcelectra 허깅페이스 endpoint URL>
HF_TOKEN=<허깅페이스 WRITE권한 있는 토큰, 디코더는 팀장이 배포해서 팀장 권한의 토큰이었음>
DECODER_ENDPOINT_URL=<디코더 배포 허깅페이스 endpoint URL>
EXPLAINER_MODEL=Qwen/Qwen3-1.7B
